workflows/04-ugc-generate.json
{
  "name": "Ephermal - 04 UGC Generate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/ugc/generate",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a4000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w4000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst description = (body.description || '').trim();\nconst preset = body.preset || 'UGC';\nconst aspectRatio = body.aspect_ratio || '9:16';\nconst model = body.model || 'marketing_studio_video';\nif (!description) $execution.abort({ message: 'Missing description' });\nconst validPresets = ['UGC','Product Review','Unboxing','Tutorial','TV Spot','Hyper Motion','Wild Card','UGC Virtual Try On','Pro Virtual Try On'];\nconst safePreset = validPresets.includes(preset) ? preset : 'UGC';\nreturn [{ json: { description, preset: safePreset, aspectRatio, model } }];"
      },
      "id": "a4000001-0000-0000-0000-000000000002",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.higgsfield.ai/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.HIGGSFIELD_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $input.item.json.model, preset: $input.item.json.preset, prompt: $input.item.json.description, aspect_ratio: $input.item.json.aspectRatio }) }}",
        "options": {}
      },
      "id": "a4000001-0000-0000-0000-000000000003",
      "name": "Higgsfield Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst jobId = result.job_id || result.id || result.generation_id || null;\nif (!jobId) {\n  return [{ json: { ok: false, error: 'No job_id in Higgsfield response', raw: result } }];\n}\nreturn [{ json: { ok: true, job_id: jobId, status: 'queued', message: 'UGC generation queued — check Creatives in ~60s' } }];"
      },
      "id": "a4000001-0000-0000-0000-000000000004",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a4000001-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Higgsfield Generate", "type": "main", "index": 0 }]]
    },
    "Higgsfield Generate": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
