workflows/05-ai-chat.json
{
  "name": "Ephermal - 05 AI Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/ai/chat",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a5000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w5000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst message = (body.message || '').trim();\nconst ctx = body.context || {};\nif (!message) $execution.abort({ message: 'Empty message' });\nconst systemPrompt = `You are Ephermal AI — an expert Meta advertising assistant built into the Ephermal platform for Shopify brands.\\n\\nUser's current account stats:\\n- ROAS: ${ctx.roas || 'unknown'}\\n- Total Spend: ${ctx.spend || 'unknown'}\\n- Creatives Made: ${ctx.creatives || 'unknown'}\\n- Conversions: ${ctx.conversions || 'unknown'}\\n- Store: ${ctx.store_url || 'not analysed'}\\n\\nYou help with: improving ROAS, writing UGC scripts, Meta audience targeting, budget allocation, creative performance analysis, and Meta Ads strategy. Be concise, actionable, and specific. Speak like a senior performance marketer.`;\nreturn [{ json: { message, systemPrompt } }];"
      },
      "id": "a5000001-0000-0000-0000-000000000002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 1024, system: $input.item.json.systemPrompt, messages: [{ role: 'user', content: $input.item.json.message }] }) }}",
        "options": {}
      },
      "id": "a5000001-0000-0000-0000-000000000003",
      "name": "Claude Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst reply = result.content?.[0]?.text || 'Sorry, I could not generate a response.';\nreturn [{ json: { reply } }];"
      },
      "id": "a5000001-0000-0000-0000-000000000004",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a5000001-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Claude Haiku", "type": "main", "index": 0 }]]
    },
    "Claude Haiku": {
      "main": [[{ "node": "Extract Reply", "type": "main", "index": 0 }]]
    },
    "Extract Reply": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
