workflows/06-ai-description.json
{
  "name": "Ephermal - 06 AI Generate Description",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/ai/generate-description",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a6000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w6000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst ctx = body.context || {};\nconst storeUrl = body.store_url || ctx.store_url || '';\nconst prompt = `Write a compelling UGC ad product description for a Meta Ads video. The store is${storeUrl ? ': ' + storeUrl : ' a Shopify brand'}. Write 2-3 punchy sentences that a UGC creator would naturally say on camera. Focus on the main benefit, a pain point it solves, and a subtle CTA. Keep it under 100 words. Return ONLY the description, no preamble.`;\nreturn [{ json: { prompt } }];"
      },
      "id": "a6000001-0000-0000-0000-000000000002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 256, messages: [{ role: 'user', content: $input.item.json.prompt }] }) }}",
        "options": {}
      },
      "id": "a6000001-0000-0000-0000-000000000003",
      "name": "Claude Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst description = (result.content?.[0]?.text || '').trim();\nreturn [{ json: { description } }];"
      },
      "id": "a6000001-0000-0000-0000-000000000004",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a6000001-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Claude Haiku", "type": "main", "index": 0 }]]
    },
    "Claude Haiku": {
      "main": [[{ "node": "Extract", "type": "main", "index": 0 }]]
    },
    "Extract": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
