workflows/07-store-analyze.json
{
  "name": "Ephermal - 07 Store Analyze",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/store/analyze",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a7000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w7000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst url = (body.url || '').trim();\nif (!url || !url.startsWith('http')) $execution.abort({ message: 'Invalid URL' });\nreturn [{ json: { url } }];"
      },
      "id": "a7000001-0000-0000-0000-000000000002",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $input.item.json.url }}",
        "options": {
          "timeout": 10000,
          "response": { "response": { "fullResponse": false } }
        }
      },
      "id": "a7000001-0000-0000-0000-000000000003",
      "name": "Fetch Store Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const html = String($input.item.json || '');\nconst storeUrl = $('Validate').item.json.url;\n// Strip HTML tags to get readable text, limit to 3000 chars\nconst text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 3000);\nconst prompt = `Analyse this e-commerce store and return a JSON object with exactly these keys:\\n{\n  \"summary\": \"1-2 sentence brand/product summary\",\n  \"target_audience\": \"1-2 sentence description of ideal customer\",\n  \"products\": [\"product1\", \"product2\", \"product3\"],\n  \"ad_opportunities\": \"2-3 specific Meta ad angles that would work well\",\n  \"meta_strategy\": \"Recommended Meta Ads strategy: campaign objective, audience targeting approach, and creative angle\"\n}\\n\\nStore URL: ${storeUrl}\\nStore page content (truncated):\\n${text}\\n\\nReturn ONLY valid JSON, no markdown, no explanation.`;\nreturn [{ json: { prompt } }];"
      },
      "id": "a7000001-0000-0000-0000-000000000004",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 1024, messages: [{ role: 'user', content: $input.item.json.prompt }] }) }}",
        "options": {}
      },
      "id": "a7000001-0000-0000-0000-000000000005",
      "name": "Claude Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst text = (result.content?.[0]?.text || '{}').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch(e) {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  try { parsed = JSON.parse(match?.[0] || '{}'); } catch(e2) { parsed = {}; }\n}\nreturn [{\n  json: {\n    summary: parsed.summary || 'Could not analyse store.',\n    target_audience: parsed.target_audience || '—',\n    products: Array.isArray(parsed.products) ? parsed.products : [],\n    ad_opportunities: parsed.ad_opportunities || '—',\n    meta_strategy: parsed.meta_strategy || '—'\n  }\n}];"
      },
      "id": "a7000001-0000-0000-0000-000000000006",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a7000001-0000-0000-0000-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Fetch Store Page", "type": "main", "index": 0 }]]
    },
    "Fetch Store Page": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Claude Haiku", "type": "main", "index": 0 }]]
    },
    "Claude Haiku": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
