workflows/09-integrations-save.json
{
  "name": "Ephermal - 09 Integrations Save",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/integrations/save",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a9000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w9000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// Credentials are stored client-side in localStorage and passed per-request as headers.\n// This endpoint is a no-op acknowledgement — no server-side storage needed for the MVP.\n// To persist server-side in production: decode the Clerk JWT to get user_id,\n// then store body.meta_token + body.meta_account_id in Supabase/Airtable keyed by user_id.\nreturn [{ json: { ok: true, message: 'Credentials acknowledged' } }];"
      },
      "id": "a9000001-0000-0000-0000-000000000002",
      "name": "Acknowledge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a9000001-0000-0000-0000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Acknowledge", "type": "main", "index": 0 }]]
    },
    "Acknowledge": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
