workflows/10-google-ads-overview.json
{
  "name": "Ephermal - 10 Google Ads Overview",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ephermal/google/overview",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w1000001-0000-0000-0000-100000000001"
    },
    {
      "parameters": {
        "jsCode": "const h = $input.item.json.headers || {};\nconst token = h['x-google-token'];\nconst account = (h['x-google-account'] || '').replace(/-/g, '');\nconst devToken = $env.GOOGLE_ADS_DEV_TOKEN;\nif (!token || !account) $execution.abort({ message: 'Missing Google credentials' });\nif (!devToken) $execution.abort({ message: 'GOOGLE_ADS_DEV_TOKEN env var not set in n8n' });\nreturn [{ json: { token, account, devToken } }];"
      },
      "id": "a1000001-0000-0000-0000-000000000002",
      "name": "Extract Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://googleads.googleapis.com/v17/customers/{{ $input.item.json.account }}/googleAds:search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $input.item.json.token }}" },
            { "name": "developer-token", "value": "={{ $input.item.json.devToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"SELECT metrics.cost_micros, metrics.conversions, metrics.conversions_value, metrics.clicks, metrics.impressions FROM campaign WHERE segments.date DURING LAST_30_DAYS AND campaign.status != 'REMOVED'\"}",
        "options": {}
      },
      "id": "a1000001-0000-0000-0000-000000000003",
      "name": "Google Ads Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.item.json.results || [];\nlet costMicros = 0, conversions = 0, conversionsValue = 0, clicks = 0, impressions = 0;\nfor (const r of results) {\n  const m = r.metrics || {};\n  costMicros     += parseInt(m.costMicros     || 0);\n  conversions    += parseFloat(m.conversions    || 0);\n  conversionsValue += parseFloat(m.conversionsValue || 0);\n  clicks         += parseInt(m.clicks         || 0);\n  impressions    += parseInt(m.impressions    || 0);\n}\nconst totalSpend = costMicros / 1_000_000;\nconst roas = totalSpend > 0 ? Math.round((conversionsValue / totalSpend) * 100) / 100 : 0;\nreturn [{ json: {\n  roas,\n  total_spend:       Math.round(totalSpend * 100) / 100,\n  total_conversions: Math.round(conversions),\n  total_clicks:      clicks,\n  total_impressions: impressions,\n  platform: 'google'\n} }];"
      },
      "id": "a1000001-0000-0000-0000-000000000004",
      "name": "Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "a1000001-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook":             { "main": [[{ "node": "Extract Credentials", "type": "main", "index": 0 }]] },
    "Extract Credentials": { "main": [[{ "node": "Google Ads Query",    "type": "main", "index": 0 }]] },
    "Google Ads Query":    { "main": [[{ "node": "Transform",           "type": "main", "index": 0 }]] },
    "Transform":           { "main": [[{ "node": "Respond",             "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
