workflows/14-shopify-oauth-callback.json
{
  "name": "Ephermal - 14 Shopify OAuth Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ephermal/shopify/callback",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a1400001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w1400001-0000-0000-0000-140000000001"
    },
    {
      "parameters": {
        "jsCode": "// ── Verify Shopify HMAC ──────────────────────────────────────────────────────\nconst crypto = require('crypto');\nconst query = $input.item.json.query || {};\nconst { hmac, ...restParams } = query;\nconst apiSecret = $env.SHOPIFY_API_SECRET;\nconst appKey    = $env.SHOPIFY_APP_KEY;\nconst returnUrl = $env.SHOPIFY_SETUP_RETURN_URL; // e.g. https://yourapp.com/setup.html\n\nif (!apiSecret) $execution.abort({ message: 'SHOPIFY_API_SECRET env var not set' });\nif (!appKey)    $execution.abort({ message: 'SHOPIFY_APP_KEY env var not set' });\nif (!returnUrl) $execution.abort({ message: 'SHOPIFY_SETUP_RETURN_URL env var not set' });\nif (!hmac)      $execution.abort({ message: 'Missing HMAC parameter' });\nif (!query.code) $execution.abort({ message: 'Missing code parameter' });\nif (!query.shop) $execution.abort({ message: 'Missing shop parameter' });\n\n// Build sorted message string (all params except hmac)\nconst message = Object.keys(restParams)\n  .sort()\n  .map(k => `${k}=${restParams[k]}`)\n  .join('&');\n\nconst expectedHmac = crypto.createHmac('sha256', apiSecret).update(message).digest('hex');\n\n// Constant-time comparison to prevent timing attacks\nif (!crypto.timingSafeEqual(Buffer.from(expectedHmac, 'hex'), Buffer.from(hmac, 'hex'))) {\n  $execution.abort({ message: 'HMAC verification failed — request may be tampered' });\n}\n\nreturn [{ json: {\n  code:      query.code,\n  shop:      query.shop,\n  state:     query.state || '',\n  appKey,\n  apiSecret,\n  returnUrl,\n  hmacValid: true\n} }];"
      },
      "id": "a1400001-0000-0000-0000-000000000002",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $input.item.json.shop }}/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_id: $input.item.json.appKey, client_secret: $input.item.json.apiSecret, code: $input.item.json.code }) }}",
        "options": {}
      },
      "id": "a1400001-0000-0000-0000-000000000003",
      "name": "Exchange Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const exch = $input.item.json;\nconst prev = $('Verify HMAC').item.json;\nif (!exch.access_token) $execution.abort({ message: 'Token exchange failed: ' + JSON.stringify(exch) });\nreturn [{ json: {\n  access_token: exch.access_token,\n  scope:        exch.scope || '',\n  shop:         prev.shop,\n  state:        prev.state,\n  returnUrl:    prev.returnUrl\n} }];"
      },
      "id": "a1400001-0000-0000-0000-000000000004",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $input.item.json.shop }}/admin/api/2024-01/shop.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Shopify-Access-Token", "value": "={{ $input.item.json.access_token }}" }
          ]
        },
        "options": {}
      },
      "id": "a1400001-0000-0000-0000-000000000005",
      "name": "Fetch Shop Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const shopData = $input.item.json.shop || {};\nconst prev = $('Extract Token').item.json;\nconst state = prev.state || '';\n// If state starts with 'dashboard', return to dashboard.html instead of setup.html\nconst setupUrl = prev.returnUrl;\nconst returnUrl = state.startsWith('dashboard') ? setupUrl.replace('setup.html','dashboard.html') : setupUrl;\nconst params = new URLSearchParams({\n  shopify_connected: '1',\n  token:     prev.access_token,\n  shop:      prev.shop,\n  shop_name: shopData.name || prev.shop,\n  state:     state\n});\nconst redirectTo = `${returnUrl}?${params.toString()}`;\nreturn [{ json: { redirectTo, shopName: shopData.name || prev.shop, shop: prev.shop } }];"
      },
      "id": "a1400001-0000-0000-0000-000000000006",
      "name": "Build Redirect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>Connecting store...</title><style>body{margin:0;background:#04050f;display:flex;align-items:center;justify-content:center;min-height:100vh;font-family:Inter,sans-serif;color:#8892b0;font-size:15px}</style></head><body><div style=\"text-align:center\"><div style=\"width:40px;height:40px;border:3px solid rgba(99,102,241,0.2);border-top-color:#6366f1;border-radius:50%;animation:s .8s linear infinite;margin:0 auto 16px\"></div><p>Connecting your store...</p></div><script>window.location.replace({{ JSON.stringify($input.item.json.redirectTo) }});<\\/script><style>@keyframes s{to{transform:rotate(360deg)}}<\\/style></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "a1400001-0000-0000-0000-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook":       { "main": [[{ "node": "Verify HMAC",    "type": "main", "index": 0 }]] },
    "Verify HMAC":   { "main": [[{ "node": "Exchange Code",  "type": "main", "index": 0 }]] },
    "Exchange Code": { "main": [[{ "node": "Extract Token",  "type": "main", "index": 0 }]] },
    "Extract Token": { "main": [[{ "node": "Fetch Shop Info","type": "main", "index": 0 }]] },
    "Fetch Shop Info":{ "main": [[{ "node": "Build Redirect","type": "main", "index": 0 }]] },
    "Build Redirect": { "main": [[{ "node": "Respond",       "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
