workflows/15-meta-audiences.json
{
  "name": "Ephermal - 15 Meta Audiences",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ephermal/meta/audiences",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a1000015-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w1000015-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const h = $input.item.json.headers || {};\nconst token = h['x-meta-token'];\nconst account = h['x-meta-account'];\nif (!token || !account) {\n  $execution.abort({ message: 'Missing Meta credentials' });\n}\nreturn [{ json: { token, account } }];"
      },
      "id": "a1000015-0000-0000-0000-000000000002",
      "name": "Extract Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Extract Credentials').item.json.account }}/customaudiences",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "id,name,approximate_count,subtype,delivery_status,description,creation_time" },
            { "name": "limit", "value": "100" },
            { "name": "access_token", "value": "={{ $('Extract Credentials').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "a1000015-0000-0000-0000-000000000003",
      "name": "Fetch Audiences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.data || [];\nconst audiences = data.map(a => ({\n  id: a.id,\n  name: a.name,\n  approximate_count: a.approximate_count || 0,\n  subtype: a.subtype || 'CUSTOM',\n  delivery_status: a.delivery_status || {},\n  description: a.description || '',\n  creation_time: a.creation_time || ''\n}));\nreturn [{ json: { audiences, total: audiences.length } }];"
      },
      "id": "a1000015-0000-0000-0000-000000000004",
      "name": "Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }, { "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "a1000015-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Credentials", "type": "main", "index": 0 }]] },
    "Extract Credentials": { "main": [[{ "node": "Fetch Audiences", "type": "main", "index": 0 }]] },
    "Fetch Audiences": { "main": [[{ "node": "Transform", "type": "main", "index": 0 }]] },
    "Transform": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
