workflows/16-meta-audience-create.json
{
  "name": "Ephermal - 16 Meta Audience Create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/meta/audiences/create",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a1000016-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w1000016-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const h = $input.item.json.headers || {};\nconst body = $input.item.json.body || {};\nconst token = h['x-meta-token'];\nconst account = h['x-meta-account'];\nif (!token || !account) {\n  $execution.abort({ message: 'Missing Meta credentials' });\n}\nif (!body.name) {\n  $execution.abort({ message: 'Audience name is required' });\n}\nconst allowedTypes = ['CUSTOMER_FILE', 'WEBSITE', 'ENGAGEMENT'];\nconst type = allowedTypes.includes(body.type) ? body.type : 'CUSTOMER_FILE';\nreturn [{ json: { token, account, name: String(body.name).slice(0, 120), type, description: String(body.description || '').slice(0, 512) } }];"
      },
      "id": "a1000016-0000-0000-0000-000000000002",
      "name": "Extract & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Extract & Validate').item.json.account }}/customaudiences",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{ $('Extract & Validate').item.json.name }}" },
            { "name": "subtype", "value": "={{ $('Extract & Validate').item.json.type }}" },
            { "name": "description", "value": "={{ $('Extract & Validate').item.json.description }}" },
            { "name": "access_token", "value": "={{ $('Extract & Validate').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "a1000016-0000-0000-0000-000000000003",
      "name": "Create Audience",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nif (d.error) {\n  return [{ json: { success: false, message: d.error.message || 'Meta API error', code: d.error.code } }];\n}\nreturn [{ json: { success: true, id: d.id, message: 'Audience created successfully' } }];"
      },
      "id": "a1000016-0000-0000-0000-000000000004",
      "name": "Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseCode": "={{ $input.item.json.success ? 200 : 400 }}",
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }, { "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "a1000016-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract & Validate", "type": "main", "index": 0 }]] },
    "Extract & Validate": { "main": [[{ "node": "Create Audience", "type": "main", "index": 0 }]] },
    "Create Audience": { "main": [[{ "node": "Transform", "type": "main", "index": 0 }]] },
    "Transform": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
