workflows/17-meta-lookalike-create.json
{
  "name": "Ephermal - 17 Meta Lookalike Create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/meta/audiences/lookalike",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a1000017-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w1000017-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const h = $input.item.json.headers || {};\nconst body = $input.item.json.body || {};\nconst token = h['x-meta-token'];\nconst account = h['x-meta-account'];\nif (!token || !account) {\n  $execution.abort({ message: 'Missing Meta credentials' });\n}\nif (!body.source_audience_id) {\n  $execution.abort({ message: 'source_audience_id is required' });\n}\nconst ratio = Math.min(0.1, Math.max(0.01, parseFloat(body.ratio) || 0.02));\nconst country = String(body.country || 'GB').toUpperCase().slice(0, 2);\nreturn [{ json: { token, account, source_id: String(body.source_audience_id), ratio, country } }];"
      },
      "id": "a1000017-0000-0000-0000-000000000002",
      "name": "Extract & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Extract & Validate').item.json.account }}/customaudiences",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'Lookalike ' + $('Extract & Validate').item.json.country + ' ' + Math.round($('Extract & Validate').item.json.ratio * 100) + '%', subtype: 'LOOKALIKE', lookalike_spec: JSON.stringify({ origin: [{ id: $('Extract & Validate').item.json.source_id, type: 'CUSTOM_AUDIENCE' }], ratio: $('Extract & Validate').item.json.ratio, country: $('Extract & Validate').item.json.country }), access_token: $('Extract & Validate').item.json.token }) }}",
        "options": {}
      },
      "id": "a1000017-0000-0000-0000-000000000003",
      "name": "Create Lookalike",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nif (d.error) {\n  return [{ json: { success: false, message: d.error.message || 'Meta API error', code: d.error.code } }];\n}\nreturn [{ json: { success: true, id: d.id, message: 'Lookalike audience created — may take a few minutes to populate' } }];"
      },
      "id": "a1000017-0000-0000-0000-000000000004",
      "name": "Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseCode": "={{ $input.item.json.success ? 200 : 400 }}",
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }, { "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "a1000017-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract & Validate", "type": "main", "index": 0 }]] },
    "Extract & Validate": { "main": [[{ "node": "Create Lookalike", "type": "main", "index": 0 }]] },
    "Create Lookalike": { "main": [[{ "node": "Transform", "type": "main", "index": 0 }]] },
    "Transform": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
