workflows/18-meta-pixel.json
{
  "name": "Ephermal - 18 Meta Pixel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ephermal/meta/pixel",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a1000018-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w1000018-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const h = $input.item.json.headers || {};\nconst token = h['x-meta-token'];\nconst account = h['x-meta-account'];\nif (!token || !account) {\n  $execution.abort({ message: 'Missing Meta credentials' });\n}\nreturn [{ json: { token, account } }];"
      },
      "id": "a1000018-0000-0000-0000-000000000002",
      "name": "Extract Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Extract Credentials').item.json.account }}/adspixels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "id,name,last_fired_time,creation_time,is_created_by_business,owner_business" },
            { "name": "access_token", "value": "={{ $('Extract Credentials').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "a1000018-0000-0000-0000-000000000003",
      "name": "Fetch Pixels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.data || [];\nconst pixels = data.map(p => ({\n  id: p.id,\n  name: p.name || 'Meta Pixel',\n  last_fired_time: p.last_fired_time || null,\n  creation_time: p.creation_time || null\n}));\nreturn [{ json: { pixels, total: pixels.length } }];"
      },
      "id": "a1000018-0000-0000-0000-000000000004",
      "name": "Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }, { "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "a1000018-0000-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Credentials", "type": "main", "index": 0 }]] },
    "Extract Credentials": { "main": [[{ "node": "Fetch Pixels", "type": "main", "index": 0 }]] },
    "Fetch Pixels": { "main": [[{ "node": "Transform", "type": "main", "index": 0 }]] },
    "Transform": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
