workflows/B-meta-write.json
{
  "name": "Ephermal - B Meta Write (toggle / create_campaign / create_audience / create_lookalike)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/meta/write",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "ab000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wb000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const h=$input.item.json.headers||{};\nconst body=$input.item.json.body||{};\nconst token=h['x-meta-token'];\nconst account=h['x-meta-account'];\nconst action=(body.action||'').toLowerCase();\nif(!token||!account)return[{json:{success:false,error:'Missing Meta credentials'}}];\nconst GRAPH='https://graph.facebook.com/v19.0';\nlet result;\n\nif(action==='toggle'){\n  const campaignId=body.campaign_id;\n  const status=body.status;\n  if(!campaignId)return[{json:{success:false,error:'Missing campaign_id'}}];\n  if(!['ACTIVE','PAUSED'].includes(status))return[{json:{success:false,error:'status must be ACTIVE or PAUSED'}}];\n  const r=await fetch(`${GRAPH}/${campaignId}?access_token=${token}`,{\n    method:'POST',\n    headers:{'Content-Type':'application/x-www-form-urlencoded'},\n    body:new URLSearchParams({status}).toString()\n  });\n  const d=await r.json();\n  result=d.error?{success:false,error:d.error.message}:{ok:true,campaign_id:campaignId,status};\n\n}else if(action==='create_campaign'){\n  const name=(body.name||'').trim();\n  if(!name)return[{json:{success:false,error:'Campaign name is required'}}];\n  const VALID=['OUTCOME_SALES','OUTCOME_TRAFFIC','OUTCOME_LEADS','OUTCOME_AWARENESS','OUTCOME_ENGAGEMENT','OUTCOME_APP_PROMOTION'];\n  const objective=VALID.includes(body.objective)?body.objective:'OUTCOME_SALES';\n  const daily_budget=Math.max(100,parseInt(body.daily_budget)||1000);\n  const countries=Array.isArray(body.countries)&&body.countries.length?body.countries:['US'];\n  const start_time=body.start_time||new Date().toISOString();\n  const cRes=await fetch(`${GRAPH}/act_${account}/campaigns`,{\n    method:'POST',headers:{'Content-Type':'application/x-www-form-urlencoded'},\n    body:new URLSearchParams({name,objective,status:'PAUSED',special_ad_categories:'[]',access_token:token}).toString()\n  });\n  const campaign=await cRes.json();\n  if(campaign.error)return[{json:{success:false,error:campaign.error.message,step:'campaign_create'}}];\n  const campaign_id=campaign.id;\n  const targeting=JSON.stringify({geo_locations:{countries},age_min:18,age_max:65,publisher_platforms:['facebook','instagram']});\n  const optGoal=objective==='OUTCOME_SALES'?'OFFSITE_CONVERSIONS':objective==='OUTCOME_TRAFFIC'?'LINK_CLICKS':'REACH';\n  const asRes=await fetch(`${GRAPH}/act_${account}/adsets`,{\n    method:'POST',headers:{'Content-Type':'application/x-www-form-urlencoded'},\n    body:new URLSearchParams({name:`${name} - Ad Set`,campaign_id,daily_budget:String(daily_budget),billing_event:'IMPRESSIONS',optimization_goal:optGoal,targeting,status:'PAUSED',start_time,access_token:token}).toString()\n  });\n  const adSet=await asRes.json();\n  if(adSet.error)return[{json:{success:false,error:adSet.error.message,step:'adset_create',campaign_id}}];\n  result={success:true,campaign_id,adset_id:adSet.id,campaign_name:name,objective,daily_budget,countries,status:'PAUSED',message:`Campaign \"${name}\" created successfully (paused — review and activate when ready)`};\n\n}else if(action==='create_audience'){\n  const name=(body.name||'').trim().slice(0,120);\n  if(!name)return[{json:{success:false,error:'Audience name is required'}}];\n  const allowed=['CUSTOMER_FILE','WEBSITE','ENGAGEMENT'];\n  const type=allowed.includes(body.type)?body.type:'CUSTOMER_FILE';\n  const description=String(body.description||'').slice(0,512);\n  const r=await fetch(`${GRAPH}/${account}/customaudiences`,{\n    method:'POST',headers:{'Content-Type':'application/x-www-form-urlencoded'},\n    body:new URLSearchParams({name,subtype:type,description,access_token:token}).toString()\n  });\n  const d=await r.json();\n  result=d.error?{success:false,message:d.error.message||'Meta API error',code:d.error.code}:{success:true,id:d.id,message:'Audience created successfully'};\n\n}else if(action==='create_lookalike'){\n  if(!body.source_audience_id)return[{json:{success:false,error:'source_audience_id is required'}}];\n  const ratio=Math.min(0.1,Math.max(0.01,parseFloat(body.ratio)||0.02));\n  const country=String(body.country||'GB').toUpperCase().slice(0,2);\n  const source_id=String(body.source_audience_id);\n  const lookalike_spec=JSON.stringify({origin:[{id:source_id,type:'CUSTOM_AUDIENCE'}],ratio,country});\n  const laName=`Lookalike ${country} ${Math.round(ratio*100)}%`;\n  const r=await fetch(`${GRAPH}/${account}/customaudiences`,{\n    method:'POST',headers:{'Content-Type':'application/json'},\n    body:JSON.stringify({name:laName,subtype:'LOOKALIKE',lookalike_spec,access_token:token})\n  });\n  const d=await r.json();\n  result=d.error?{success:false,message:d.error.message||'Meta API error',code:d.error.code}:{success:true,id:d.id,message:'Lookalike audience created — may take a few minutes to populate'};\n\n}else{\n  result={success:false,error:`Unknown action: ${action}`};\n}\n\nreturn[{json:result}];"
      },
      "id": "ab000001-0000-0000-0000-000000000002",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "ab000001-0000-0000-0000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router":  { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
