workflows/C-google-ads.json
{
  "name": "Ephermal - C Google Ads (overview / campaigns / toggle)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/google/ads",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "ac000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wc000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const h=$input.item.json.headers||{};\nconst body=$input.item.json.body||{};\nconst token=h['x-google-token'];\nconst account=(h['x-google-account']||'').replace(/-/g,'');\nconst devToken=$env.GOOGLE_ADS_DEV_TOKEN;\nconst action=(body.action||'').toLowerCase();\nif(!token||!account)return[{json:{error:'Missing Google credentials'}}];\nif(!devToken)return[{json:{error:'GOOGLE_ADS_DEV_TOKEN env var not set in n8n'}}];\nconst gHdr={'Authorization':`Bearer ${token}`,'developer-token':devToken,'Content-Type':'application/json'};\nconst GADS=`https://googleads.googleapis.com/v17/customers/${account}`;\nlet result;\n\nif(action==='overview'){\n  const r=await fetch(`${GADS}/googleAds:search`,{\n    method:'POST',headers:gHdr,\n    body:JSON.stringify({query:\"SELECT metrics.cost_micros, metrics.conversions, metrics.conversions_value, metrics.clicks, metrics.impressions FROM campaign WHERE segments.date DURING LAST_30_DAYS AND campaign.status != 'REMOVED'\"})\n  });\n  const results=(await r.json()).results||[];\n  let costMicros=0,conversions=0,conversionsValue=0,clicks=0,impressions=0;\n  for(const row of results){\n    const m=row.metrics||{};\n    costMicros+=parseInt(m.costMicros||0);\n    conversions+=parseFloat(m.conversions||0);\n    conversionsValue+=parseFloat(m.conversionsValue||0);\n    clicks+=parseInt(m.clicks||0);\n    impressions+=parseInt(m.impressions||0);\n  }\n  const totalSpend=costMicros/1000000;\n  result={\n    roas:totalSpend>0?Math.round((conversionsValue/totalSpend)*100)/100:0,\n    total_spend:Math.round(totalSpend*100)/100,\n    total_conversions:Math.round(conversions),\n    total_clicks:clicks,\n    total_impressions:impressions,\n    platform:'google'\n  };\n\n}else if(action==='campaigns'){\n  const r=await fetch(`${GADS}/googleAds:search`,{\n    method:'POST',headers:gHdr,\n    body:JSON.stringify({query:\"SELECT campaign.id, campaign.name, campaign.status, campaign.advertising_channel_type, campaign_budget.amount_micros, campaign_budget.resource_name, metrics.cost_micros, metrics.conversions, metrics.conversions_value, metrics.clicks, metrics.impressions FROM campaign WHERE segments.date DURING LAST_30_DAYS AND campaign.status != 'REMOVED' ORDER BY metrics.cost_micros DESC LIMIT 50\"})\n  });\n  const TYPE_MAP={SEARCH:'Search',DISPLAY:'Display',SHOPPING:'Shopping',VIDEO:'YouTube',PERFORMANCE_MAX:'PMAX',SMART:'Smart'};\n  result=((await r.json()).results||[]).map(row=>{\n    const c=row.campaign||{},b=row.campaignBudget||{},m=row.metrics||{};\n    const costMicros=parseInt(m.costMicros||0);\n    const convValue=parseFloat(m.conversionsValue||0);\n    const spend=costMicros/1000000;\n    const roas=spend>0?Math.round((convValue/spend)*100)/100:null;\n    const statusRaw=c.status||'';\n    const status=statusRaw==='ENABLED'?'live':statusRaw==='PAUSED'?'paused':'draft';\n    const channelType=c.advertisingChannelType||'';\n    const budgetMicros=parseInt(b.amountMicros||0);\n    return{\n      id:c.id,\n      name:`Google · ${TYPE_MAP[channelType]||channelType}${c.name?' · '+c.name:''}`,\n      status,platform:'google',channel_type:channelType,\n      daily_budget:budgetMicros>0?budgetMicros/1000000:null,\n      budget_resource:b.resourceName||null,\n      roas,total_spend:Math.round(spend*100)/100,\n      impressions:parseInt(m.impressions||0),\n      clicks:parseInt(m.clicks||0),\n      conversions:Math.round(parseFloat(m.conversions||0))\n    };\n  });\n\n}else if(action==='toggle'){\n  const campaignId=String(body.campaign_id||'');\n  const status=body.status;\n  if(!campaignId)return[{json:{success:false,error:'Missing campaign_id'}}];\n  if(!['ENABLED','PAUSED'].includes(status))return[{json:{success:false,error:'status must be ENABLED or PAUSED'}}];\n  const r=await fetch(`${GADS}/campaigns:mutate`,{\n    method:'POST',headers:gHdr,\n    body:JSON.stringify({operations:[{update:{resourceName:`customers/${account}/campaigns/${campaignId}`,status},updateMask:'status'}]})\n  });\n  const d=await r.json();\n  result=d.partialFailureError?{success:false,error:d.partialFailureError.message}:{ok:true,campaign_id:campaignId,status};\n\n}else{\n  result={error:`Unknown action: ${action}`};\n}\n\nreturn[{json:result}];"
      },
      "id": "ac000001-0000-0000-0000-000000000002",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "ac000001-0000-0000-0000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router":  { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
