workflows/D-ai.json
{
  "name": "Ephermal - D AI (chat / describe / analyze)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/ai",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "ad000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wd000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body=$input.item.json.body||{};\nconst action=(body.action||'').toLowerCase();\nconst userId=(body.user_id||'').trim();\nconst userPlan=(body.plan||'starter').toLowerCase();\n\n// ── Env vars ──────────────────────────────────────────────\nconst groqKey=$env.GROQ_API_KEY;\nconst sbUrl=$env.SUPABASE_URL;\nconst sbKey=$env.SUPABASE_SERVICE_KEY;\nif(!groqKey)return[{json:{error:'GROQ_API_KEY env var not set in n8n'}}];\n\n// ── Plan limits ───────────────────────────────────────────\nconst LIMITS={starter:50,growth:300,scale:9999999};\nconst monthLimit=LIMITS[userPlan]||50;\nconst month=new Date().toISOString().slice(0,7);\n\n// ── Groq API call (OpenAI-compatible) ────────────────────\nconst groqReq=async(systemPrompt,userMsg,maxTokens,model)=>{\n  const m=model||'llama-3.1-8b-instant';\n  const messages=[{role:'user',content:userMsg}];\n  if(systemPrompt)messages.unshift({role:'system',content:systemPrompt});\n  const r=await fetch('https://api.groq.com/openai/v1/chat/completions',{\n    method:'POST',\n    headers:{'Authorization':`Bearer ${groqKey}`,'Content-Type':'application/json'},\n    body:JSON.stringify({model:m,max_tokens:maxTokens||1024,messages,temperature:0.7})\n  });\n  const d=await r.json();\n  return(d.choices?.[0]?.message?.content||'').trim();\n};\n\n// ── Supabase usage check + increment (chat / describe only) ─\nif(userId&&sbUrl&&sbKey&&action!=='analyze'){\n  // Fetch current usage + top-ups\n  const[usageRes,topupRes]=await Promise.all([\n    fetch(`${sbUrl}/rest/v1/ai_credits?user_id=eq.${encodeURIComponent(userId)}&month=eq.${month}&select=used`,\n      {headers:{'apikey':sbKey,'Authorization':`Bearer ${sbKey}`}}),\n    fetch(`${sbUrl}/rest/v1/ai_topups?user_id=eq.${encodeURIComponent(userId)}&month=eq.${month}&select=messages`,\n      {headers:{'apikey':sbKey,'Authorization':`Bearer ${sbKey}`}})\n  ]);\n  const usageData=await usageRes.json();\n  const topupData=await topupRes.json();\n  const used=usageData[0]?.used||0;\n  const topupBonus=(topupData||[]).reduce((s,r)=>s+(r.messages||0),0);\n  const effectiveLimit=monthLimit+topupBonus;\n  if(used>=effectiveLimit){\n    return[{json:{error:'AI_LIMIT_REACHED',used,limit:effectiveLimit,topup_available:true}}];\n  }\n  // Increment usage (upsert)\n  await fetch(`${sbUrl}/rest/v1/ai_credits`,{\n    method:'POST',\n    headers:{'apikey':sbKey,'Authorization':`Bearer ${sbKey}`,'Content-Type':'application/json','Prefer':'resolution=merge-duplicates'},\n    body:JSON.stringify({user_id:userId,month,used:used+1})\n  });\n}\n\n// ── EPHERMAL AI MASTER SYSTEM PROMPT ─────────────────────\nconst MASTER_SYSTEM=`You are Ephermal AI — the world's most specialized Meta Ads agent built exclusively for Shopify DTC brands. You operate inside the Ephermal platform.\n\nCORE EXPERTISE:\n- Meta Ads algorithm: auction mechanics, Advantage+, creative fatigue, frequency caps\n- Shopify DTC: conversion rate optimization, AOV, LTV/CAC analysis\n- UGC creative strategy: hook frameworks, retention curves, pain-point vs aspiration\n- ROAS optimization: budget allocation, bid strategies, audience expansion signals\n- Creative fatigue detection: frequency thresholds, CTR decay, refresh timing\n\nMETA ADS ALGORITHM (DEEP KNOWLEDGE):\nThe Meta auction multiplies: bid × estimated action rate × user value score.\n- Quality ranking: Ad relevance vs competitors in same auction. Creative variety improves this.\n- Engagement ranking: Expected CTR vs similar ads. First 3 seconds are everything on Reels.\n- Conversion ranking: Expected post-click conversion. Landing page speed and relevance matter.\n- Learning phase: 50 optimization events required to exit. Do NOT edit campaigns mid-learning — resets the phase.\n- Advantage+ Campaigns: Meta's ML manages placements, audiences, bids. Best for scaling proven creatives.\n- Frequency thresholds: Prospecting healthy at 1.5-3×/week. Above 3× with >20% CTR drop = creative fatigue.\n- ROAS benchmarks: <$30 products target 4-6× ROAS. $50-150 target 2.5-4×. $200+ target 1.8-3×.\n- CTR benchmarks: Feed 1-3% healthy, >3% excellent. Reels/Stories 0.5-1.5%. Below 0.5% = weak hook.\n- Budget scaling rule: Max 20% increase per 48 hours to avoid triggering learning phase reset.\n- Horizontal vs vertical scaling: Horizontal = duplicate to new audiences. Vertical = increase budget on winner.\n- Campaign structure: 1 objective per campaign, 3-5 ad sets per campaign, 3-5 ads per ad set.\n\nUGC CREATIVE FRAMEWORKS:\nHook types (first 3 seconds decide everything):\n- Pain-point: 'Stop wasting money on X that doesn't work...'\n- Social proof: 'I tested 7 products for [problem], only one actually worked...'\n- Curiosity gap: 'I can't believe I didn't find this sooner...'\n- Transformation: 'This changed my [morning routine / skin / workflow] completely...'\n- Contrarian: 'Unpopular opinion: [common belief] is actually wrong...'\n\nRetention curve for winning DTC UGC (30-60s video):\n- 0-3s: Pattern interrupt hook — stop the scroll\n- 3-8s: Problem/agitation — make them feel the pain\n- 8-20s: Solution demo — show the product working\n- 20-25s: Social proof — reviews, results, transformation\n- 25-30s: CTA — direct, specific, low friction ('Link in bio', 'Tap to shop')\n\nEPHERMAL PLATFORM FEATURES:\n1. Dashboard: Live ROAS, spend, conversions, CTR. Powered by Meta Graph API.\n2. Campaigns: View active/paused campaigns, toggle on/off, budget management, performance drill-down.\n3. Creatives: UGC library with approval workflow — approve → auto-deploys to Meta.\n4. Ephermal AI: This chat. Strategy, scripts, audience recommendations, ROAS troubleshooting.\n5. Store Analysis: AI extracts brand vibe, color palette, fonts, UGC visual style from any Shopify store URL.\n6. Audience Intel: Pixel-based retargeting segments, lookalike builder (Growth+ plans).\n7. ROAS Optimizer: Automated budget reallocation toward best-performing campaigns (Growth+ plans).\n8. Bulk Manager: Mass campaign actions — pause, budget change, duplication (Scale plans).\n9. Store Products: Shopify catalog sync for dynamic product ads and collection targeting.\n10. Billing: Starter $89/mo · Growth $199/mo · Scale $349/mo.\n\nAUDIENCE TARGETING STRATEGY:\n- Cold traffic (prospecting): Broad + Advantage+ audiences, interest stacking, LAL 1-5%\n- Warm traffic (retargeting): Pixel visitors 0-7 days, Add-to-cart abandoners, Checkout abandoners\n- Hot traffic: Past purchasers (upsell/cross-sell), Email list custom audiences\n- Audience exclusions: Always exclude recent purchasers from prospecting campaigns\n- Audience size sweet spot: 1M-10M for most Shopify brands. Too narrow = high CPM. Too broad = low relevance.\n\nRULES FOR YOUR RESPONSES:\n- Be concise and direct. No fluff. Senior performance marketer energy.\n- Give specific numbers, benchmarks, and thresholds — not vague advice.\n- Reference the user's actual stats when provided in context.\n- When recommending a UGC script, make it ready-to-use — not a template.\n- If something is gated by plan, mention the plan requirement clearly.\n- Default answer length: 150-300 words. Go longer only for scripts or step-by-step plans.`;\n\nlet result;\n\nif(action==='chat'){\n  const message=(body.message||'').trim();\n  if(!message)return[{json:{error:'Empty message'}}];\n  const ctx=body.context||{};\n  const contextBlock=`\\n\\nUser's live account data:\\n- ROAS: ${ctx.roas||'not connected'}\\n- Total Spend: ${ctx.spend||'not connected'}\\n- UGC Creatives Made: ${ctx.creatives||'0'}\\n- Conversions: ${ctx.conversions||'not connected'}\\n- Store: ${ctx.store_url||'not analysed'}\\n- Plan: ${userPlan}`;\n  const reply=await groqReq(MASTER_SYSTEM+contextBlock,message,1024,'llama-3.1-8b-instant');\n  result={reply:reply||'Sorry, I could not generate a response.'};\n\n}else if(action==='describe'){\n  const storeUrl=body.store_url||(body.context||{}).store_url||'';\n  const brandIdentity=body.brand_identity||null;\n  const brandCtx=brandIdentity\n    ?`\\n\\nBrand identity (from store analysis):\\n- Vibe: ${brandIdentity.brand_vibe||'—'}\\n- Color palette: Primary ${brandIdentity.color_palette?.primary||'unknown'}, Secondary ${brandIdentity.color_palette?.secondary||'unknown'}\\n- UGC visual style: ${brandIdentity.ugc_visual_style||'—'}\\n- UGC tone: ${brandIdentity.ugc_tone||'—'}`\n    :'';\n  const prompt=`Write a compelling UGC ad product description for a Meta Ads video. Store: ${storeUrl||'a Shopify brand'}.${brandCtx}\\n\\nWrite 2-3 punchy sentences a UGC creator would naturally say on camera. Focus on the main benefit, a pain point it solves, and a subtle CTA. Match brand tone. Under 100 words. Return ONLY the description text.`;\n  const description=await groqReq(MASTER_SYSTEM,prompt,256,'llama-3.1-8b-instant');\n  result={description};\n\n}else if(action==='analyze'){\n  const url=(body.url||'').trim();\n  if(!url||!url.startsWith('http'))return[{json:{error:'Invalid URL'}}];\n\n  let html='';\n  try{\n    const pageRes=await fetch(url,{\n      headers:{'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'},\n      redirect:'follow'\n    });\n    html=await pageRes.text();\n  }catch(e){console.error('Page fetch failed:',e);}\n\n  const visualHints=[];\n  const themeColor=html.match(/name=[\"']theme-color[\"'][^>]*content=[\"']([^\"']+)[\"']/i)||html.match(/content=[\"']([#][0-9a-fA-F]{3,8})[\"'][^>]*name=[\"']theme-color/i);\n  if(themeColor&&themeColor[1])visualHints.push('Meta theme-color: '+themeColor[1]);\n  const cssColorProps=(html.match(/--[a-z-]*(?:color|primary|secondary|accent|bg|background)[a-z-]*\\s*:\\s*([#]?[a-zA-Z0-9,. ()%/-]+)/gi)||[]);\n  cssColorProps.slice(0,8).forEach(m=>visualHints.push(m.replace(/\\s+/g,' ').trim().slice(0,80)));\n  const hexColors=[...(new Set(html.match(/#[0-9a-fA-F]{6}\\b/g)||[]))];\n  if(hexColors.length)visualHints.push('Detected hex colors: '+hexColors.slice(0,12).join(' '));\n  const gFonts=(html.match(/fonts\\.googleapis\\.com[^\"']*family=([^\"'&]+)/gi)||[]);\n  gFonts.slice(0,3).forEach(m=>{const f=decodeURIComponent(m.split('family=')[1]||'').replace(/[+:]/g,' ').split('|')[0].split(',')[0].slice(0,50);if(f)visualHints.push('Google Font: '+f);});\n  const titleMatch=html.match(/<title[^>]*>([^<]+)<\\/title>/i);\n  const descMatch=html.match(/name=[\"']description[\"'][^>]*content=[\"']([^\"']{0,200})[\"']/i);\n  if(titleMatch)visualHints.push('Page title: '+titleMatch[1].trim());\n  if(descMatch)visualHints.push('Meta description: '+descMatch[1].trim());\n  const faviconMatch=html.match(/rel=[\"'](?:shortcut )?icon[\"'][^>]*href=[\"']([^\"']+)[\"']/i);\n  if(faviconMatch)visualHints.push('Has custom favicon: yes');\n\n  const text=html\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi,'')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi,'')\n    .replace(/<[^>]+>/g,' ')\n    .replace(/\\s+/g,' ')\n    .trim()\n    .slice(0,3500);\n\n  const analyzeSystem=`You are an elite e-commerce brand strategist and creative director. You analyse Shopify stores and produce detailed brand identity profiles that guide UGC ad creative production. You have a deep eye for visual aesthetics, color theory, and what drives conversion in short-form video ads. Your output is always precise, opinionated, and actionable.`;\n\n  const analyzePrompt=`Analyse this Shopify store and return a JSON object with EXACTLY these keys:\\n{\\n  \"summary\": \"2-sentence brand and product summary\",\\n  \"target_audience\": \"2-sentence ideal customer profile: demographics, psychographics, buying motivation\",\\n  \"products\": [\"product or category 1\", \"product or category 2\", \"product or category 3\"],\\n  \"ad_opportunities\": \"3 specific Meta ad angles that would convert well for this brand\",\\n  \"meta_strategy\": \"Recommended Meta Ads approach: campaign objective, audience targeting method, and why\",\\n  \"brand_vibe\": \"3-5 word aesthetic descriptor e.g. 'clean premium minimalist dark'\",\\n  \"color_palette\": {\\n    \"primary\": \"hex e.g. #1A1A2E\",\\n    \"secondary\": \"hex\",\\n    \"accent\": \"hex\",\\n    \"background\": \"hex\",\\n    \"text_on_bg\": \"recommended overlay text color hex for UGC\"\\n  },\\n  \"typography\": {\\n    \"heading_style\": \"font personality e.g. 'bold wide-tracking geometric sans-serif'\",\\n    \"body_style\": \"e.g. 'clean neutral sans-serif'\",\\n    \"font_suggestions\": [\"GoogleFont1\", \"GoogleFont2\"]\\n  },\\n  \"ugc_visual_style\": \"Detailed visual direction for UGC creators: setting, lighting, camera distance, props, outfit vibe, B-roll. 2-3 sentences.\",\\n  \"ugc_tone\": \"Exact voice and energy for UGC creators: pacing, energy level, language style, hook type, how to close. 2 sentences.\"\\n}\\n\\nStore URL: ${url}\\nVisual signals from page source:\\n${visualHints.length?visualHints.join('\\n'):'(none detected)'}\\nPage text (truncated):\\n${text}\\n\\nCRITICAL: Return ONLY valid JSON. No markdown. Start with { end with }`;\n\n  const raw=await groqReq(analyzeSystem,analyzePrompt,2048,'llama-3.3-70b-versatile');\n\n  let parsed={};\n  try{parsed=JSON.parse(raw);}catch(e){\n    const m=raw.match(/\\{[\\s\\S]*\\}/);\n    try{parsed=JSON.parse(m?.[0]||'{}');}catch(e2){console.error('JSON parse failed:',raw.slice(0,200));}\n  }\n\n  result={\n    summary:          parsed.summary||'Could not analyse store.',\n    target_audience:  parsed.target_audience||'—',\n    products:         Array.isArray(parsed.products)?parsed.products:[],\n    ad_opportunities: parsed.ad_opportunities||'—',\n    meta_strategy:    parsed.meta_strategy||'—',\n    brand_vibe:       parsed.brand_vibe||'—',\n    color_palette:    parsed.color_palette||{primary:'#6366f1',secondary:'#8b5cf6',accent:'#a78bfa',background:'#ffffff',text_on_bg:'#0f172a'},\n    typography:       parsed.typography||{heading_style:'bold sans-serif',body_style:'clean sans-serif',font_suggestions:['Inter']},\n    ugc_visual_style: parsed.ugc_visual_style||'—',\n    ugc_tone:         parsed.ugc_tone||'—'\n  };\n\n}else{\n  result={error:`Unknown action: ${action}`};\n}\n\nreturn[{json:result}];"
      },
      "id": "ad000001-0000-0000-0000-000000000002",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "ad000001-0000-0000-0000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router":  { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
