workflows/D-ai.json
{
  "name": "Ephermal - D AI (chat / describe / analyze)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ephermal/ai",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "ad000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wd000001-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const body=$input.item.json.body||{};\nconst action=(body.action||'').toLowerCase();\nconst apiKey=$env.ANTHROPIC_API_KEY;\nif(!apiKey)return[{json:{error:'ANTHROPIC_API_KEY env var not set in n8n'}}];\n\nconst claudeReq=async(systemPrompt,userMsg,maxTokens,model)=>{\n  const m=model||'claude-haiku-4-5-20251001';\n  const payload={model:m,max_tokens:maxTokens||1024,messages:[{role:'user',content:userMsg}]};\n  if(systemPrompt)payload.system=systemPrompt;\n  const r=await fetch('https://api.anthropic.com/v1/messages',{\n    method:'POST',\n    headers:{'x-api-key':apiKey,'anthropic-version':'2023-06-01','content-type':'application/json'},\n    body:JSON.stringify(payload)\n  });\n  const d=await r.json();\n  return(d.content?.[0]?.text||'').trim();\n};\n\nlet result;\n\nif(action==='chat'){\n  const message=(body.message||'').trim();\n  if(!message)return[{json:{error:'Empty message'}}];\n  const ctx=body.context||{};\n  const systemPrompt=`You are Ephermal AI — an expert Meta advertising assistant built into the Ephermal platform for Shopify brands.\\n\\nUser's current account stats:\\n- ROAS: ${ctx.roas||'unknown'}\\n- Total Spend: ${ctx.spend||'unknown'}\\n- Creatives Made: ${ctx.creatives||'unknown'}\\n- Conversions: ${ctx.conversions||'unknown'}\\n- Store: ${ctx.store_url||'not analysed'}\\n\\nYou help with: improving ROAS, writing UGC scripts, Meta audience targeting, budget allocation, creative performance analysis, and Meta Ads strategy. Be concise, actionable, and specific. Speak like a senior performance marketer.`;\n  const reply=await claudeReq(systemPrompt,message,1024);\n  result={reply:reply||'Sorry, I could not generate a response.'};\n\n}else if(action==='describe'){\n  const storeUrl=body.store_url||(body.context||{}).store_url||'';\n  const brandIdentity=body.brand_identity||null;\n  const brandCtx=brandIdentity?`\\n\\nBrand identity context:\\n- Vibe: ${brandIdentity.brand_vibe||'—'}\\n- Color palette: ${JSON.stringify(brandIdentity.color_palette||{})}\\n- UGC visual style: ${brandIdentity.ugc_visual_style||'—'}\\n- UGC tone: ${brandIdentity.ugc_tone||'—'}`:\\';\n  const prompt=`Write a compelling UGC ad product description for a Meta Ads video. The store is${storeUrl?': '+storeUrl:' a Shopify brand'}.${brandCtx}\\n\\nWrite 2-3 punchy sentences that a UGC creator would naturally say on camera. Focus on the main benefit, a pain point it solves, and a subtle CTA. Match the brand tone. Keep it under 100 words. Return ONLY the description, no preamble.`;\n  const description=await claudeReq(null,prompt,256);\n  result={description};\n\n}else if(action==='analyze'){\n  const url=(body.url||'').trim();\n  if(!url||!url.startsWith('http'))return[{json:{error:'Invalid URL'}}];\n\n  // ── Fetch the store page ──────────────────────────────────────────────────\n  let html='';\n  try{\n    const pageRes=await fetch(url,{\n      headers:{'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'},\n      redirect:'follow'\n    });\n    html=await pageRes.text();\n  }catch(e){console.error('Page fetch failed:',e);}\n\n  // ── Extract visual/brand signals from raw HTML before stripping ───────────\n  const visualHints=[];\n\n  // Meta theme-color (most reliable brand color signal)\n  const themeColor=html.match(/name=[\"']theme-color[\"'][^>]*content=[\"']([^\"']+)[\"']/i)\n    ||html.match(/content=[\"']([#][0-9a-fA-F]{3,8})[\"'][^>]*name=[\"']theme-color/i);\n  if(themeColor&&themeColor[1])visualHints.push('Meta theme-color: '+themeColor[1]);\n\n  // CSS custom properties named with 'color', 'bg', 'background', 'primary', 'accent'\n  const cssColorProps=(html.match(/--[a-z-]*(?:color|primary|secondary|accent|bg|background)[a-z-]*\\s*:\\s*([#]?[a-zA-Z0-9,. ()%/-]+)/gi)||[]);\n  cssColorProps.slice(0,8).forEach(m=>visualHints.push(m.replace(/\\s+/g,' ').trim().slice(0,80)));\n\n  // Inline hex colors in style attributes or CSS (take unique ones)\n  const hexColors=[...(new Set(html.match(/#[0-9a-fA-F]{6}\\b/g)||[]))];\n  if(hexColors.length)visualHints.push('Detected hex colors: '+hexColors.slice(0,12).join(' '));\n\n  // Google Fonts hints\n  const gFonts=(html.match(/fonts\\.googleapis\\.com[^\"']*family=([^\"'&]+)/gi)||[]);\n  gFonts.slice(0,3).forEach(m=>{const f=decodeURIComponent(m.split('family=')[1]||'').replace(/[+:]/g,' ').split('|')[0].split(',')[0].slice(0,50);if(f)visualHints.push('Google Font: '+f);});\n\n  // Title and meta description\n  const titleMatch=html.match(/<title[^>]*>([^<]+)<\\/title>/i);\n  const descMatch=html.match(/name=[\"']description[\"'][^>]*content=[\"']([^\"']{0,200})[\"']/i);\n  if(titleMatch)visualHints.push('Page title: '+titleMatch[1].trim());\n  if(descMatch)visualHints.push('Meta description: '+descMatch[1].trim());\n\n  // Favicon (indicates brand asset focus)\n  const faviconMatch=html.match(/rel=[\"'](?:shortcut )?icon[\"'][^>]*href=[\"']([^\"']+)[\"']/i);\n  if(faviconMatch)visualHints.push('Has custom favicon: yes');\n\n  // ── Extract visible text content ─────────────────────────────────────────\n  const text=html\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi,'')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi,'')\n    .replace(/<[^>]+>/g,' ')\n    .replace(/\\s+/g,' ')\n    .trim()\n    .slice(0,3500);\n\n  // ── Build the analysis prompt ─────────────────────────────────────────────\n  const systemPrompt=`You are an elite e-commerce brand strategist and creative director. You analyse Shopify stores and produce detailed brand identity profiles that guide UGC ad creative production. You have a deep eye for visual aesthetics, color theory, and what drives conversion in short-form video ads. Your output is always precise, opinionated, and actionable.`;\n\n  const userPrompt=`Analyse this Shopify e-commerce store and return a JSON object with EXACTLY these keys:\\n{\\n  \"summary\": \"2-sentence brand and product summary — what they sell, who for, and their positioning\",\\n  \"target_audience\": \"2-sentence ideal customer profile: demographics, psychographics, buying motivation\",\\n  \"products\": [\"product or category 1\", \"product or category 2\", \"product or category 3\"],\\n  \"ad_opportunities\": \"3 specific, distinct Meta ad angles that would convert well for this brand. Be specific and creative.\",\\n  \"meta_strategy\": \"Recommended Meta Ads approach: best campaign objective, audience targeting method, and why it fits this brand\",\\n  \"brand_vibe\": \"3-5 word aesthetic descriptor. Examples: 'clean premium minimalist dark', 'playful pastel Gen-Z', 'earthy organic wellness', 'bold streetwear urban'. Be specific.\",\\n  \"color_palette\": {\\n    \"primary\": \"most dominant brand color as hex (e.g. #1A1A2E) or best guess based on brand signals\",\\n    \"secondary\": \"secondary color as hex\",\\n    \"accent\": \"accent/highlight color as hex\",\\n    \"background\": \"main background tone as hex or descriptive (e.g. #FAFAF7 or #0D0D0D)\",\\n    \"text_on_bg\": \"recommended overlay text color for UGC: #hex\"\\n  },\\n  \"typography\": {\\n    \"heading_style\": \"font personality description e.g. 'bold wide-tracking geometric sans-serif', 'elegant high-contrast serif', 'rounded friendly display'\",\\n    \"body_style\": \"e.g. 'clean neutral sans-serif', 'humanist serif'\",\\n    \"font_suggestions\": [\"GoogleFont1\", \"GoogleFont2\"]\\n  },\\n  \"ugc_visual_style\": \"Detailed visual direction for UGC ad creators: describe the ideal setting/background, lighting, camera distance, props, outfit vibe, and B-roll suggestions that match this brand. 2-3 sentences.\",\\n  \"ugc_tone\": \"The exact voice and energy UGC creators should use: pacing, energy level, language style, hook type (pain-point vs aspiration vs social-proof), and how to close. 2 sentences.\"\\n}\\n\\nStore URL: ${url}\\n\\nVisual brand signals detected from page source:\\n${visualHints.length?visualHints.join('\\\\n'):'(none detected — infer from content)'}\\n\\nVisible page text (truncated to 3500 chars):\\n${text}\\n\\nCRITICAL: Return ONLY valid JSON. No markdown fences, no explanation, no preamble. Start your response with { and end with }`;\n\n  const raw=await claudeReq(systemPrompt,userPrompt,2048);\n\n  let parsed={};\n  try{parsed=JSON.parse(raw);}catch(e){\n    const m=raw.match(/\\{[\\s\\S]*\\}/);\n    try{parsed=JSON.parse(m?.[0]||'{}');}catch(e2){console.error('JSON parse failed:',raw.slice(0,200));}\n  }\n\n  result={\n    summary:          parsed.summary||'Could not analyse store.',\n    target_audience:  parsed.target_audience||'—',\n    products:         Array.isArray(parsed.products)?parsed.products:[],\n    ad_opportunities: parsed.ad_opportunities||'—',\n    meta_strategy:    parsed.meta_strategy||'—',\n    brand_vibe:       parsed.brand_vibe||'—',\n    color_palette:    parsed.color_palette||{primary:'#6366f1',secondary:'#8b5cf6',accent:'#a78bfa',background:'#ffffff',text_on_bg:'#0f172a'},\n    typography:       parsed.typography||{heading_style:'bold sans-serif',body_style:'clean sans-serif',font_suggestions:['Inter']},\n    ugc_visual_style: parsed.ugc_visual_style||'—',\n    ugc_tone:         parsed.ugc_tone||'—'\n  };\n\n}else{\n  result={error:`Unknown action: ${action}`};\n}\n\nreturn[{json:result}];"
      },
      "id": "ad000001-0000-0000-0000-000000000002",
      "name": "Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "ad000001-0000-0000-0000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router":  { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
